.room-assignments {
  --background: var(--ion-color-light, #cccccc);
}

.room-assignments .room-assignments-card {
  --background: white;
}

.ios .room-assignments-card {
  border-radius: 3px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16);
  margin: 10px 15px;
}

.ios .room-assignments-card h4 {
  color: black;
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin: 0;
}