@font-face {
    font-family: 'Cachet';
    src: url('Cachet-Bold.woff2') format('woff2'),
        url('Cachet-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cachet';
    src: url('Cachet-Book.woff2') format('woff2'),
        url('Cachet-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cachet';
    src: url('Cachet-Medium.woff2') format('woff2'),
        url('Cachet-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

