.ios .page-home {
  --background: linear-gradient(180deg, rgba(56,125,126,1) 0%, rgba(87,183,185,1) 100%);
}

.ios .page-home .post-card {
  --background: white;
}

.ios .page-home .post-card ion-card-content {
  display: -webkit-box;
  margin: 0.75rem;
  min-height: 2.75em;
  padding: 0;
  overflow: hidden;
  text-align: left;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}